extends ../../layouts/default.pug

block main
  if(role.permissions.includes("roles_view"))
    h1(class="mb-4") Chỉnh sửa nhóm quyền
    div(class="mb-4") #{record.title}
    div(class="mb-4") #{record.description}
