extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/box-actions.pug

block main
  h1(class="mb-4") Quản lý đơn hàng